<footer class="set-relative bg bg-img bg-about p-b-0" id=""  style="background-color: #1d3276;">
    <div class="container p-b-100">
        <div class="row">
            <div class="col-12 p-0">
                <div class="text-center">
                    <div class="d-inline-block">
                        <div class="">
                            <h3 class="video-heading text-white text-center p-b-40"> Our goal is to make you happy with your website and make building it easy for you.</h3>
                            <h4 class="video-text text-white p-b-40 text-center">So if you need a website, contact us today!</h4>
                            <a class=" btn btn-secondary" style="background-color:aliceblue;color: #1d3276;padding: 10px 40px 10px 40px;border-radius: 25px;">info@3va.studio</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
