<header class="home loding-header nav-abs custom-scroll header-rel" style="margin-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-12" style="">
                <nav class="navbar-expand-lg theme-nav w-100" style="margin-bottom: 20px;">
                  <!-- <a class="navbar-brand d-none d-lg-block m-0">
                      <img alt="logo" class="logo-abs h-auto" src="assets/images/3VA_logo.png">
                  </a> -->
                  <a class="logo-responsive navbar-brand">
                      <img alt="logo" src="assets/images/3VA_logo.png">
                  </a>

                  <!--create a  contact form-->
                  
                </nav>
            </div>
        </div>
    </div>
  </header>
