
<footer class="set-relative bg bg-img bg-about p-b-0" id=""  style="background-color: white">
    <!-- <div class="p-b-100 w-100" style="margin-left: 15rem;margin-right:15rem; ">
        <div class="row">
            <div class="col-3 p-b-100">
                <div class="text-center">
                    <a class="logo-responsive navbar-brand d-lg-block d-lg-none">
                        <img alt="logo" src="assets/images/3VA_logo.png">
                    </a>
                    
                </div>
            </div>

            <div class="col-9 p-b-100">

            </div>

            <div class="col-3">
                <div class="text-center p-6 video-text">
                    <h3 style="color:#1d3276; font-weight: normal;">Sligo, Ireland</h3>
                </div>
                
            </div>
        </div>
    </div> -->

    <div class="container">
        <div class="row">
            <div class="col-12" style="">
                <nav class="navbar-expand-lg theme-nav w-100" style="margin-bottom: 20px;">
                  <!-- <a class="navbar-brand d-none d-lg-block m-0">
                      <img alt="logo" class="logo-abs h-auto" src="assets/images/3VA_logo.png">
                  </a> -->
                  <div style="margin-bottom: 5rem;">
                    <a class="logo-responsive navbar-brand d-lg-block d-lg-none">
                        <img alt="logo" src="assets/images/3VA_logo.png">
                    </a>
                  </div>
                  

                  <h3 class="d-lg-block pb-3"style="color:#1d3276; font-weight: normal;">Sligo, Ireland</h3>
                  <h3 class="d-lg-block"style="color:#1d3276; font-weight: normal;">info@3va.studio</h3>

                  <!--create a  contact form-->
                  
                </nav>
            </div>
        </div>
    </div>
</footer>